// ===========================================================
// LIST OF CONTACTS COMPONENT STYLES
// ===========================================================
.contacts-header {
  border-bottom: 2px solid $gray;
}
.contacts {
  padding-top: 62px; // height of the fixed search input area
}
.contact {
  border-bottom: 1px solid $gray;
  &__photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
  }
  &__text { padding-left: 10px; }
}