// ===========================================================
// LIST OF CONTACTS COMPONENT STYLES
// ===========================================================
.contacts-header {
  border-bottom: 2px solid $gray;
  &__search-field { max-width: 600px; }
}
.contacts-page { padding-top: 62px; } // height of the fixed search input area
.contacts {
  @media (min-width: $xs) { padding: 10px; }
}
.contact-container {
  @media (min-width: $xs) {
    padding: 10px;
    float: left;
    width: 25%;
    height: 200px;
  }
  @media (min-width: $sm) { width: 20%; }
}
.contact {
  @include transition(all 0.2s ease);
  border-bottom: 1px solid $gray;
  &:hover { box-shadow: 2px 4px 8px $gray; }
  &__photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
  }
  &__text { padding-left: 10px; }
  @media (min-width: $xs) {
    border: 1px solid $gray;
    padding: 0;
    border-radius: 2px;
    display: inline-block; // fallback if flex is not supported
    display: flex;
    flex-flow: column;
    &__photo {
      display: block;
      width: 100%;
      height: 150px;
      border-radius: 0;
    }
    &__text {
      display: block;
      padding: 5px;
      text-align: center;
      flex: 0 0 auto;
    }
  }
}