// ===========================================================
// BASIC HTML ELEMENTS
// ===========================================================
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}
body {
  font-family: $sans;
  color: $text-color;
  background-color: $body-bg;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a, button {
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  outline: 0;
  text-decoration: none;
}
a:hover, a:active, a:visited, a:focus {
  outline: 0;
  text-decoration: none;
}
input, textarea, keygen, select, button {
  font-family: $sans;
  font-size: 16px;
}