// ===========================================================
// GLOBAL VARIABLES
// ===========================================================
// Responsive breakpoints
$xs: 768px;
$sm: 992px;
$md: 1200px;
// Fonts
$sans:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; // weights: 600,700
$serif: 'vollkorn', Georgia, 'Times New Roman', Times, serif; // weights: 400,600 & 800
// Colors
$white: #fff;
$red: #ff5e5e;
$gray: #ddd;
$body-bg: #fff;;
$text-color: #444;
$header-bg: #252525;
$brand-primary: #4896aa;
$brand-primary-lighter: #55b0c7;