// ===========================================================
// GLOBAL VARIABLES
// ===========================================================
// Responsive breakpoints
$xs: 768px;
$sm: 992px;
$md: 1200px;
// Fonts
$sans:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// Colors
$white: #fff;
$red: #ff5e5e;
$gray: #ddd;
$body-bg: #fff;;
$text-color: #444;
$brand-primary: #4896aa;