<div class="text-center">

  <!-- SEARCH INPUT -->
  <div class="contacts-header pos-fix full-width white-bg padding-10">
    <div class="pos-rel">
      <label for="contacts-query" class="pos-abs left-0 z-1 font-18 cursor-pointer brand-primary">
        <i class="input-simple__icon fa fa-search white-bg" aria-hidden="true">
        </i>
      </label>
      <div class="pos-abs right-0 z-1 font-18 cursor-pointer brand-primary">
        <i *ngIf="query.length" (click)="clearQuery()"
           class="input-simple__clear fa fa-times white-bg" aria-hidden="true">
        </i>
      </div>
      <input [(ngModel)]="query" (ngModelChange)="search()" type="text" id="contacts-query" name="contacts-query"
             class="input-simple input-simple--with-icon full-width padding-10" placeholder="Search for a contact.." />
    </div>
  </div>

  <!-- CONTACTS CONTAINER -->
  <div class="contacts">

    <!-- RESULT COUNT -->
    <div *ngIf="query && filteredContacts.length" class="padding-5 gray-bg">
      Found {{filteredContacts.length}} contact{{filteredContacts.length === 1 ? '' : 's'}}
    </div>

    <!-- NOTHING FOUND -->
    <div *ngIf="query && !filteredContacts.length" class="padding-20">
      No matching contacts found
    </div>

    <!-- RESULTS -->
    <div *ngFor="let contact of filteredContacts" class="contact d-table full-width padding-5 text-left">
      <div [ngStyle]="{'background-image': 'url(' + contact.photo + ')'}"
           class="contact__photo d-table-cell v-middle">
      </div>
      <div class="contact__text d-table-cell v-middle">{{contact.name}}</div>
    </div>

    <!-- LOADER -->
    <i *ngIf="isLoading" class="fa fa-2x fa-spin fa-spinner faded padding-20" aria-hidden="true"></i>

    <!-- ERROR -->
    <div *ngIf="isError" class="padding-20">
      Oops! Something went wrong..
    </div>

  </div>

</div>