// ===========================================================
// FONTS
// ===========================================================
@font-face {
  font-family: 'Lato';
  src: url('fonts/LatoLatin-Bold.eot');
  src: url('fonts/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/LatoLatin-Bold.woff2') format('woff2'),
       url('fonts/LatoLatin-Bold.woff') format('woff'),
       url('fonts/LatoLatin-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}