// ===========================================================
// AUTOCOMPLETE
// override plugin styles (!important needed on some places)
// ===========================================================
.ngui-auto-complete {
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  li {
    padding: 10px !important;
    border: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #343434;
    &:hover, &.selected {
      background: $brand-primary-lighter !important;
      color: #fff;
    }
  }
  ul:after {
    content: '';
    display: block;
    background: url('https://s3-eu-west-1.amazonaws.com/idwebphotos/powered-by-google-on-white.png') top left no-repeat;
    width: 144px;
    height: 18px;
    float: right;
    margin: 4px;
  }
}