// ===========================================================
// BUTTON STYLES
// ===========================================================
.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 0;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  color: $white;
  background-color: #aaa;
  &:hover { background-color: $brand-primary-lighter; }
  &--primary { background-color: $brand-primary; }
  &--in-title { top: -3px; }
}