// ===========================================================
// INPUT RADIO & CHECKBOX
// based on: https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes
// ===========================================================
.cbox {
  position: relative;
  padding-left: 26px;
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0; // hide actual input element
  }
  &__indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: $white;
    box-shadow: inset 0 0 2px #999;
    opacity: 1;
    width: 20px;
    height: 20px;
    &--faded { opacity: 0.5; }
    &:after { // check mark
      position: absolute;
      display: none;
      content: '';
    }
  }
  &--checkbox &__indicator {
    border-radius: 2px;
    &:after { // checkbox tick
      top: 4px;
      left: 8px;
      width: 5px;
      height: 11px;
      transform: rotate(45deg);
      border: solid $brand-primary;
      border-width: 0 2px 2px 0;
    }
  }
  &--radio &__indicator {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 0 1px 2px 1px;
    top: 1px;
    &:after { // inner circle
      top: 4px;
      left: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $brand-primary;
    }
  }
  // hover state
  &:hover &__input ~ &__indicator {
    box-shadow: inset 0 0 2px $brand-primary;
  }
  // show check mark
  &__input:checked ~ &__indicator:after {
    display: block;
  }
}