// ===========================================================
// DATEPICKER
// Override styles of this component:
// https://github.com/kekeh/ngx-mydatepicker
// ===========================================================
ngx-my-date-picker .ngxmdp {
  * {
    font-family: $serif;
  }
  .selector {
    margin-left: 0;
    min-width: 252px;
    height: auto !important;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    &:focus { border: 1px solid #ddd; }
  }
  .header, .headerbtncell, .headerbtn, .headerlabelbtn { background-color: $white; }
  .header {
    height: 42px;
    td:nth-child(1) { padding-left: 0; }
    td:nth-child(3) { padding-right: 0; }
  }
  .headerlabelbtn, .headerlabelbtn:hover {
    color: $text-color;
    font-size: 18px;
  }
  .headermonthtxt, .headeryeartxt {
    width: auto;
    min-width: 42px;
    max-width: none;
    padding: 4px;
  }
  .ngxmdpicon {
    font-family: $serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 16px;
    color: $brand-primary;
    padding: 13px;
    height: auto;
    width: 38px;
    &:not(.headerbtndisabled):hover {
      color: $brand-primary;
      background: #eee;
    }
  }
  .icon-ngxmydpleft:before  { content: "\2039"; }
  .icon-ngxmydpright:before { content: "\203A"; }
  .weekdaytitle {
    font-family: $sans;
    font-size: 12px;
    font-weight: 600;
    color: #888075;
    background-color: #fff;
  }
  .caltable {
    border-radius: 0 0 2px 2px !important;
  }
  .daycell {
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: $text-color;
    border: 1px solid #E6E6DF;
    border-right: none;
    border-bottom: none;
    &:focus { outline: none; }
  }
  tr .daycell:first-child { border-left: none; }
  .currmonth {
    background-color: inherit;
    font-weight: 400;
  }
  .tablesingleday:hover {
    background-color: #eee;
  }
  .selectedday {
    color: $white;
    background-color: $brand-primary;
    &:hover { background-color: $brand-primary; }
    div {
      background-color: inherit !important;
      border: 0;
    }
  }
  .currday { text-decoration: none; }
  .disabled {
    color: #eee !important;
    background: inherit !important;
    .prevmonth, .nextmonth { color: #eee; }
  }
}