// ===========================================================
// FORM INSIDE BOX
// ===========================================================
.id-form-box {
  max-width: 440px;
  border-radius: 4px;
  box-shadow: 0 2px 4px #bbb;
  &__field {
    width: 100%;
    padding: 8px 10px;
    &--small {
      @media (min-width: $xs) { width: 50%; }
    }
    &__label {
      left: 3px;
      top: -3px;
    }
  }
}