// ===========================================================
// SETTINGS ITEM STYLES
// ===========================================================
.settings-item {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  &--first { border-top: 1px solid #ddd; }
  &__title {
    width: 30%;
    padding-right: 15px;
    word-break: break-word; // to make sure that on small screen it would not take more width
  }
  &__content-container { width: 70%; }
  &__preview { display: none; }
  &__content {
    @include transition(all 0.2s ease);
    line-height: normal;
    opacity: 1;
    height: auto;
  }
  &--closed {
    @include transition(all 0.2s ease);
    background-color: $body-bg;
    &:hover { background-color: #ddd; }
  }
  &--closed &__title { font-weight: normal; }
  &--closed &__preview { display: block; }
  &--closed &__content {
    line-height: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  &__color-sample {
    border: solid 1px #ddd;
    width: 18px;
    height: 18px;
  }
  &__select { max-width: 240px; }
  &__currency { width: 33%; }
}